* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    overflow-x: hidden;
    color: rgb(89, 114, 125);
    line-height: 1.5;
}
img {
    vertical-align: middle;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
ul,
ol,
p,
span {
    margin: 0px;
    list-style: none;
    padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: rgb(7, 28, 31);
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 50px;
    line-height: 50px;
}
h2 {
    font-size: 44px;
    line-height: 57px;
}
h3 {
    font-size: 42px;
    line-height: 54.6px;
}
h4 {
    font-size: 24px;
    line-height: 31.2px;
}
h5 {
    font-size: 16px;
    line-height: 20.8px;
}
h6 {
    font-size: 16px;
    color: rgb(89, 114, 125);
    line-height: 20.8px;
}
p {
    font-size: 16px;
    line-height: 28.8px;
    color: rgb(89, 114, 125);
}
.pt {
    padding-top: 120px;
}
.pb {
    padding-bottom: 90px;
}
.section-headding {
    margin-bottom: 50px;
    text-align: center;
}
.section-headding span {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 25px;
    font-weight: 600;
    font-family: Nunito, sans-serif;
    color: rgb(255, 90, 58);
    margin-bottom: 15px;
    background-color: rgb(255, 239, 236);
    font-size: 16px;
}
.custome-btn {
    padding: 17px 40px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    background-color: rgb(255, 90, 60);
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    position: relative;
    transition: all 0.4s ease 0s;
    z-index: 1;
}
.custome-btn::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    border-radius: 3px;
    height: 100%;
    display: block;
    transition: all 0.4s ease 0s;
    z-index: -1;
}
.custome-btn:hover::after {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.custome-btn:hover {
    border-color: rgb(23, 28, 31);
    color: rgb(7, 28, 31);
}
.sticky {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(46, 56, 220, 0.2) 0px 10px 50px 0px;
    animation: 300ms ease-in-out 0s 1 normal none running fadeInDown;
    left: 0px;
    top: 0px;
    transition: all 0.4s linear 0s;
    z-index: 999;
    position: fixed !important;
    padding: 10px 0px !important;
}
div#header-top {
    background: rgb(11, 44, 61);
}
div#header-top .headerTopbarWraper {
    align-items: center;
    justify-content: space-between;
}
.header-top-left ul {
    display: flex;
    align-items: center;
}
.header-top-right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-top-left ul li {
    margin-right: 40px;
}
.header-top-left ul li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
}
ul {
}
.header-top-left ul li a i {
    margin-right: 3px;
    color: rgb(255, 90, 60);
}
.header-top-right ul li a {
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.header-top-right ul li:last-child {
    margin-left: 30px;
}
.header-top-right ul li {
    margin-left: 20px;
}
.header-top-right ul li:last-child a {
    padding: 10px 20px;
    background: rgb(255, 90, 60);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
#navbar .navbarWraper {
    align-items: center;
    justify-content: space-between;
}
nav#navbar {
    background: rgb(255, 255, 255);
    padding: 22px 0px;
}
.logo {
    width: 25%;
}
ul.main-menu {
    width: 55%;
    display: flex;
    align-items: center;
}
ul.header-icon {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.main-menu li {
    margin-right: 20px;
    position: relative;
}
ul.main-menu li a {
    font-size: 18px;
    padding: 20px 10px;
    color: rgb(7, 28, 31);
    font-weight: 600;
    font-family: Nunito, sans-serif;
}
ul.main-menu li a i {
    font-size: 8px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: block;
}
ul.header-icon li a {
    height: 50px;
    width: 50px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    line-height: 50px;
    color: rgb(7, 28, 31);
    margin-right: 10px;
    transition: all 0.4s ease 0s;
    text-align: center;
    box-shadow: rgba(7, 28, 31, 0.1) 0px 16px 32px 0px;
    font-weight: 700;
    border-radius: 2px;
}
ul.header-icon li a:hover {
    background: rgb(255, 90, 60);
    color: rgb(255, 255, 255);
}
#banner_section {
    background-color: rgb(242, 246, 247);
    padding: 100px 0px;
}
.banner-right img {
    text-align: right;
    object-fit: contain;
    height: 100%;
    width: 490px;
    display: block;
    margin-left: auto;
}
.banner-left h6 {
    font-size: 16px;
    color: rgb(7, 28, 31);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
}
.banner-left h6 i {
    color: rgb(255, 90, 60);
    margin-right: 10px;
}
.banner-left h1 {
    color: rgb(23, 28, 31);
    line-height: 50px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-left p {
    padding-left: 30px;
    border-left: 1px solid rgb(87, 100, 102);
    font-size: 16px;
    color: rgb(87, 114, 125);
    line-height: 28.8px;
    margin-bottom: 25px;
}
.banner-left .custome-btn {
    margin-right: 15px;
}
.banner-left .custome-btn:hover {
    background-color: transparent;
    color: rgb(87, 100, 102);
    border-color: rgb(23, 28, 31);
}
#banner_section .banner-left .videoPlay {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: rgb(255, 90, 60);
}
#about ul.list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#about ul.list-item li {
    width: 50%;
    margin-top: 16px;
    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: rgb(89, 114, 125);
}
#about ul.list-item li i {
    font-size: 14px;
    color: rgb(255, 90, 60);
    margin-right: 15px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    background: rgb(245, 223, 220);
    border-radius: 100%;
    text-align: center;
}
a.video-btn:hover {
    color: rgb(255, 90, 60);
}
section#about h2 {
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 700;
}
section#about .section-headding p {
    max-width: 500px;
}
section#about .leading {
    padding: 20px;
    margin: 25px 0px;
    border-left: 4px solid rgb(255, 90, 60);
    border-top-color: rgb(255, 90, 60);
    border-right-color: rgb(255, 90, 60);
    border-bottom-color: rgb(255, 90, 60);
    background-color: rgba(229, 62, 41, 0.05);
}
section#about .custome-btn {
    margin-top: 40px;
}
section#about .about-left {
    position: relative;
}
section#about .video-image {
    position: absolute;
    left: 0px;
    bottom: 80px;
    width: 300px;
}
@keyframes shadowPulse {
    0% {
        box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 0px;
    }
    70% {
        box-shadow: rgba(21, 219, 150, 0) 0px 0px 0px 40px;
    }
    100% {
        box-shadow: rgba(21, 219, 150, 0) 0px 0px 0px 0px;
    }
}
.video-btn {
    position: absolute;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    background: rgb(255, 255, 255);
    color: rgb(255, 90, 60);
    animation: 2s linear 0s infinite normal none running shadowPulse;
    box-shadow: rgba(108, 92, 231, 0.4) 0px 0px 0px 10px;
    z-index: 11;
}
#counter {
    text-align: center;
    background-color: rgb(242, 246, 247);
}
.counter-item .counter-icon i {
    font-size: 70px;
    color: rgb(255, 90, 60);
    display: inline-block;
    margin-bottom: 40px;
}
.counter-item h3 {
    color: rgb(7, 28, 31);
    margin-bottom: 10px;
}
.counter-item h6 {
    font-family: inherit;
    color: rgb(92, 114, 125);
}
ul.aboutlist-1 {
    display: flex;
    align-items: center;
}
ul.aboutlist-1 li span {
    display: block;
    color: rgb(92, 114, 127);
}
ul.aboutlist-1 li {
    width: 160px;
    border-right: 1px solid rgb(92, 114, 125);
    margin-right: 30px;
    position: relative;
}
ul.aboutlist-1 li::before {
}
ul.aboutlist-1 li span i {
    padding-left: 5px;
}
ul.aboutlist li {
    position: relative;
    font-size: 16px;
    color: rgb(92, 114, 125);
    margin-top: 15px;
}
ul.aboutlist li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 15px;
    height: 1px;
    background: rgb(255, 90, 60);
}
ul.aboutlist {
    margin-bottom: 30px;
    padding-left: 30px;
}
ul.aboutlist-2 {
    display: flex;
    align-items: center;
}
ul.aboutlist-2 li {
    width: 30%;
    margin-right: 12px;
}
ul.aboutlist-2 li:last-child {
    margin-right: 0px;
}
ul.aboutlist-1 li:last-child {
    border-right: 0px;
}
.abotusLeft {
    padding-right: 45px;
}
#services {
    background-color: rgb(242, 246, 247);
}
#services .singleServices {
    text-align: center;
    transition: all 0.4s linear 0s;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px 35px;
    border: 1px solid rgb(246, 246, 246);
    box-shadow: rgba(7, 28, 31, 0.1) 0px 16px 32px 0px;
}
#services .singleServices::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 4px;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(255, 90, 58);
    transition: all 0.4s linear 0s;
}
#services .singleServices.active::before {
    visibility: visible;
    opacity: 1;
    width: 100%;
}
#services .singleServices.active a {
    color: rgb(255, 90, 58);
}
#services .singleServices:hover::before {
    width: 100%;
    visibility: visible;
    opacity: 1;
}
#services .singleServices .services-icon img {
    width: 185px;
}
#services .singleServices h4 a {
    color: rgb(23, 28, 31);
    margin: 20px 0px;
    transition: all 0.4s linear 0s;
}
#services .singleServices:hover h4 a {
    color: rgb(255, 90, 58);
}
#services .singleServices p {
    font-size: 14px;
    line-height: 22px;
}
#services .singleServices a {
    color: rgb(87, 100, 102);
    margin: 20px 0px;
    font-weight: 700;
    transition: all 0.4s ease 0s;
}
#services .singleServices:hover a {
    color: rgb(255, 90, 58);
}
#features .container-fluid {
    padding: 0px 15px;
}
.singleItem {
    position: relative;
    transition: all 0.4s linear 0s;
    overflow: hidden;
}
span.product-bage {
    display: block;
    position: absolute;
    top: 16px;
    right: 30px;
    background: rgb(119, 199, 32);
    padding: 6px 13px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
ul.product-location {
    position: absolute;
    display: flex;
    align-items: center;
    top: 42%;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}
.features-image {
    display: block;
    position: relative;
    overflow: hidden;
}
.image-gallery {
    display: flex;
    align-items: center;
}
.image-gallery li a {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.features-image::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), transparent);
}
ul.product-location li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.4s ease 0s;
}
.image-gallery li a i {
    margin-right: 3px;
}
ul.product-location li i {
    margin-right: 3px;
}
.image-gallery li:last-child {
    margin-right: 0px;
}
.image-gallery li {
    margin-right: 16px;
}
.image-gallery li a:hover {
    color: rgb(203, 52, 33);
}
ul.product-location li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.4s ease 0s;
}
ul.product-location li a:hover {
    color: rgb(255, 90, 60);
}
.features-desc {
    padding: 30px 30px 1px;
}
.features-desc .price h5 {
    color: rgb(235, 105, 84);
    margin-bottom: 10px;
}
.features-desc h4 a {
    font-size: 22px;
    color: rgb(7, 28, 31);
    font-weight: 600;
    margin-bottom: 15px;
    transition: all 0.4s ease 0s;
}
.features-desc h4 a:hover {
    color: rgb(255, 90, 60);
}
.features-desc {
}
.features-desc p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 30px;
}
.productInfo-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.agentInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
#features .image img {
    width: 50px;
    border-radius: 50%;
}
#features .text h5 {
    font-size: 14px;
    letter-spacing: 0.5px;
}
.agentInfo .text {
    margin-top: 35px;
    margin-left: 10px;
}
.product-action ul {
    display: flex;
    align-items: center;
}
.product-action ul li a {
    margin-right: 13px;
    background: rgb(245, 245, 245);
    padding: 5px 13px;
    color: inherit;
    transition: all 0.4s ease 0s;
}
.product-action ul li a:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 90, 60);
}
.features-image img {
    transition: all 0.4s ease 0s;
}
.singleItem:hover .features-image img {
    transform: scale(1.1);
}
.apartments-left {
    background: rgb(255, 90, 60);
    color: rgb(255, 255, 255);
    padding: 70px;
}
.apartments-left p {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    line-height: 28.8px;
    margin-bottom: 25px;
    font-size: 16px;
}
.apartments-left h4 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Poppins, sans-serif;
}
.apartments-left ul li h5 {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    background: rgb(255, 90, 60);
    padding-right: 10px;
}
.apartments-left ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 15px;
}
.apartments-left ul li span {
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.apartments-left ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    border: 1px dashed;
    width: 100%;
    transform: translateY(-50%);
    height: 1px;
    z-index: -1;
}
.apartments-left ul li span {
    font-size: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    background: rgb(255, 90, 60);
}
.apartments-left ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    border: 1px dashed;
    width: 100%;
    transform: translateY(-50%);
    height: 1px;
    z-index: -1;
}
.apartments_text {
    margin-top: 50px;
}
.fitler-btn ul li button {
    font-size: 20px;
    font-weight: 600;
    color: rgb(7, 28, 31);
    line-height: 24px;
    margin: 0px 50px 10px 0px;
    font-family: Nunito, sans-serif;
}
.fitler-btn ul li button.active {
    border-bottom: 2px solid rgb(255, 90, 60);
    border-radius: 0px;
    position: relative;
    transition: all 0.4s ease 0s;
    background: transparent !important;
    color: rgb(7, 28, 31) !important;
}
ul#pills-tab {
    background: transparent !important;
}
.nav-pills .nav-link {
    background: 0px 0px;
    border: 0px;
    border-radius: 0px !important;
}
.nav-link {
    padding: 0px;
    border-radius: 0px !important;
    transition: none 0s ease 0s !important;
}
.fitler-btn ul li button:hover {
    color: rgb(7, 28, 31);
}
.fitler-btn ul li button.active::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 93%;
    left: 50%;
    background: transparent;
    z-index: 1;
    opacity: 1;
    border: 3px solid rgb(255, 255, 255);
}
.fitler-btn ul li .nav-pills .nav-link {
    outline: 0px;
}
#video_section {
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    min-height: 350px;
    background-attachment: fixed;
}
#video_section::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.singleAminties {
    box-shadow: rgba(23, 44, 82, 0.1) 0px 5px 20px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px 35px;
    text-align: center;
    position: relative;
}
.singleAminties .singleAminties-icon {
    width: 100px;
    height: 100px;
    margin: 0px auto 20px;
    line-height: 115px;
    font-size: 45px;
    border-radius: 100%;
    background-color: rgb(255, 242, 240);
    color: rgb(255, 90, 60);
    text-align: center;
}
.singleAminties:hover {
    background-color: rgb(255, 90, 60);
}
.singleAminties:hover .singleAminties-icon {
    background-color: rgb(255, 255, 255);
}
.singleAminties:hover h4 {
    color: rgb(255, 255, 255);
}
.singleAminties h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: rgb(7, 28, 31);
    transition: all 0.3s ease 0s;
    margin-bottom: 10px;
}
.testimonial-item {
    background-color: rgb(255, 255, 255);
    padding: 30px 35px 40px;
    border-radius: 10px;
    box-shadow: rgba(23, 44, 82, 0.1) 0px 5px 20px 0px;
    border: 1px solid rgb(241, 248, 255);
    position: relative;
    margin: 10px;
}
.tesimonial_info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.tesimonial_info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.tesimonial_info h5 {
    font-size: 15px;
    margin-top: 12px;
}
.testPrev {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(230, 236, 240);
    background: rgb(255, 255, 255);
    visibility: hidden;
    text-align: center;
    line-height: 50px;
    color: rgb(4, 17, 19);
    transition: all 0.4s ease 0.1s;
    opacity: 0;
}
.testnext {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(230, 236, 240);
    background: rgb(255, 255, 255);
    visibility: hidden;
    text-align: center;
    line-height: 50px;
    color: rgb(4, 17, 19);
    transition: all 0.4s ease 0.1s;
    opacity: 0;
}
.testimonial-sliders {
    transition: all 0.4s ease 0s;
}
.testimonial-sliders:hover .testPrev {
    left: -70px;
    visibility: visible;
    opacity: 1;
}
.testimonial-sliders:hover .testnext {
    right: -70px;
    visibility: visible;
    opacity: 1;
}
.testPrev:hover {
    background: rgb(255, 90, 60);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 90, 60);
}
.testnext:hover {
    background: rgb(255, 90, 60);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 90, 60);
}
.singleBlog {
    box-shadow: rgba(23, 44, 82, 0.1) 0px 5px 20px 0px;
    position: relative;
    margin: 10px;
    transition: all 0.4s ease 0s;
}
.singleBlog .blog-image {
    overflow: hidden;
}
.singleBlog .blog-image img {
    transition: all 0.4s ease 0s;
}
.singleBlog:hover .blog-image img {
    transform: scale(1.1);
}
.singleBlog:hover .blog-text h4 a {
    color: rgb(255, 90, 60);
}
.singleBlog .blog-text {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.singleBlog .blog-text ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.singleBlog .blog-text ul li {
    font-weight: 600;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    font-size: 14px;
    margin-top: 0px;
}
.singleBlog .blog-text ul li a {
    color: rgb(92, 114, 125);
}
.singleBlog .blog-text ul li i {
    color: rgb(255, 90, 60);
    margin-right: 5px;
}
.singleBlog .blog-text h4 a {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(7, 28, 31);
    font-family: Poppins, sans-serif;
    line-height: 1.3;
}
.singleBlog .blog-text h4 a:hover {
    color: rgb(255, 90, 60);
}
ul.blog-inner {
    justify-content: space-between;
    margin-top: 20px;
}
.singleBlog .blog-text h4 {
    border-bottom: 1px solid rgb(229, 234, 238);
}
.blogWraper:hover .testPrev {
    visibility: visible;
    opacity: 1;
    left: -70px;
}
.blogWraper:hover .testnext {
    visibility: visible;
    opacity: 1;
    right: -70px;
}

/* Footer area start here  */

#footer_area .container-fluid {
    padding: 0px 30px;
}
#footer_area .footer-top {
    background-color: #171b2a;
    padding: 100px 0px;
    color: #fff;
}
#footer_area .footer-top .footer-logo {
    margin-bottom: 30px;
}

#footer_area .footer-top .footer-item p {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 28.8px;
}

#footer_area .footer-top .footer-item .social-link {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
#footer_area .footer-top .footer-item h4 {
    color: #fff;
}
#footer_area .footer-top .footer-item p {
    color: #fff;
}
#footer_area .footer-top .footer-item h5 {
    color: #fff;
}
#footer_area .footer-top .footer-item a {
    color: #fff;
}
#footer_area .footer-bottom a {
    color: #fff;
}

#footer_area .footer-top .footer-item .social-link li {
    margin-right: 20px;
    font-size: 17px;
}

#footer_area .footer-top .footer-item .social-link li:last-child {
    margin-right: 0px;
}

#footer_area .footer-top .footer-item ul.contact_link {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#footer_area .footer-top .footer-item ul.contact_link li i {
    margin-right: 13px;
}

#footer_area .footer-top .footer-item ul.contact_link li {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}

#footer_area .footer-top .footer-item ul.contact_link li a:hover {
    color: #ff5a3c;
}

#footer_area .footer-top .footer-item h4.footer-subtitle {
    margin-bottom: 25px;
}

#footer_area .footer-top .footer-item ul.footer-link li {
    line-height: 40px;
    font-size: 16px;
    position: relative;
}

#footer_area .footer-top .footer-item ul.footer-link li a {
    color: #fff;
    transition: 0.4s;
    position: relative;
}
#footer_area .footer-top .footer-item ul.footer-link li a span {
    visibility: hidden;
    transition: 0.4s;
    color: #ff593b;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#footer_area .footer-top .footer-item ul.footer-link li a:hover span {
    padding-right: 5px;
    visibility: visible;
    opacity: 1;
}

#footer_area .footer-top .footer-item ul.footer-link li a:hover span {
    display: inline-block;
    margin-left: 10px;
}

#footer_area .footer-top .footer-item ul.footer-link li a:hover {
    color: #ff593b;
    padding-left: 25px;
}
#footer_area .footer-top .footer-item ul.social-link li a:hover {
    color: #ff593b;
}

.footer-item.itme-5 p {
    margin-bottom: 25px;
}

.footer-item.itme-5 input {
    width: 100%;
    background: transparent;
    border: 2px solid #ebeeee;
    color: #fff;
    display: block;
    padding: 17px 20px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.footer-item.itme-5 input::placeholder {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.footer-item.itme-5 input:focus {
    outline: 0;
}

.footer-item.itme-5 input:hover,
:focus {
    border-color: #eb6954;
}

.footer-item.itme-5 h5 {
    margin-bottom: 20px;
}
#footer_area .footer-bottom {
    background-color: #282b38;
    padding: 20px 0px;
}
#footer_area .footer-bottom ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#footer_area .footer-bottom ul li {
    margin-right: 20px;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    font-weight: 500;
}
#footer_area .footer-bottom ul li a:hover {
    color: #fff;
}

#footer_area .footer-bottom ul li:last-child {
    margin-right: 0px;
}
/* Footer area end here  */
#gotoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    background: #212529;
    border-radius: 40px;
}

#gotoTop:hover {
    background-color: #ff5a3c;
    color: #fff;
}
